.login {
    /*width: 100%;*/
    padding: 10px;
    /*height: 30px;*/

}

.radio {
    padding-left: 100px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.header {
    /*text-align: center;*/
    background-color: orange;
}

.webname {
    text-align: center;
    width: 100%;
    float: left;
    font-size: 130px;
}

.msg-error {
    color: red;
}

.msg-success {
    color: green;
}