* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    /*padding: 15px;*/
}

[class*="col-"] {
    width: 100%;
}
.msg-error {
    color: red;
}
.msg-success {
    color: green;
}

@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

.header {
    background-color: orange;
    /*float: left;*/
    /*height: 300px;*/
    /*display: inline-block;*/
}

.header .logo {
    /*width: 100%;*/
    /*float: left;*/
    /*background: orange;*/
    /*height: 270px;*/
    text-align: center;
    /*padding-top: 1%;*/

}

.header .logo img {
    width: 70%;
    /*text-align: center;*/
    /*height: 270px;*/
}

.header .webname {
    /*background: orange;*/
    font-size: 130px;
    text-align: left;
    /*float: left;*/
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    /*height: 270px;*/
}

.body .menu {
    padding-left: 16%;
    height: 100px;
    background-color: antiquewhite;
    /*background-color: orange;*/
    border: 1px solid black;
    /*float: left;*/
    font-size: 30px;
    /*text-align: center;*/
    /*padding: 20px;*/
}

.menu ul {
    /*text-align: center;*/
}

.menu ul li {
    display: block;
    /*float: left;*/
    color: #71609C;
    /*width: 90px;*/
    /*font-family: Consolas;*/
    text-decoration: underline;
    font-size: 22px;
    padding-left: 22px;
    /*border-right: 3px solid black;*/
}

.main-login {
    /*float: left;*/
    /*height: 270px;*/
    /*background-color: orange;*/
    padding-top: 15%;
    padding-bottom: 3%;
}

.login {
    text-align: left;
    padding-top: 3%;
}
.song-item {
    border: 1px solid rgba(13,23,20,0.2);
    border-radius: 10px;
}
.song-item:after {
    content: '';
    clear: both;
    display: table;
}
.song-index {
    float: left;
    width: 5%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    padding-left: 1%;
}
.song-thumbnail {
    float: left;
    width: 10%;
}
.song-thumbnail img {
    width: 100%;
    border-radius: 10px;
}
.song-infor {
    padding-top: 1%;
    float: left;
    width: 20%;
}
.song-infor .song-name {
    font-weight: bold;
}
.song-infor .song-singer {
    font-weight: lighter;
    color: rgba(0,0,23,0.47);
}
.song-control {
    padding-top: 3%;
    color: dodgerblue;
    cursor: pointer;
    text-decoration: underline;
    float: left;
    width: 10%;
}

.song-detail {
    float: left;
    width: 50%;
    padding-top: 0.5%;
    font-weight: bold;
}
.song-audio{
    text-align: center;
    padding-top: 2px;
}